.lightbox {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  justify-content: center;
  text-align: center;
  grid-auto-rows: max-content;
  align-content: center;
  overflow: visible;
  padding: 1.5rem;
  background-color: rgb(51 51 51 / 95%);
  z-index: 2;
  overscroll-behavior: none;

  &_image {
    margin: auto;
    object-fit: contain;
    opacity: 1;
    @apply h-80;
  }

  &_name {
    padding-top: 22px;
  }

  &_caption {
    padding-top: 10px;
    text-align: justify;
  }
}