.about-grid {
  @apply grid grid-cols-12 grid-rows-2 mt-24;
  grid-template-rows: auto;

  &_description {
    @apply justify-center col-start-2 col-span-7;
  }

  &_memoji {
    @apply justify-center col-span-3;
  }
  
  &_resume {
    @apply row-start-2 col-start-2;
  }
}

.image {
  &:hover {
  filter: none;
  box-shadow: none;
  }
}