.projects {
  &-box {
    height: 100%;
    border-radius: 5px;
    background-size: cover;
    filter: grayscale(0.8);
  
    &:hover {
      filter: none;
      outline: none;
      border-color: var(--highlight);
      box-shadow: 0 0 26px var(--highlight);
    }
  }
}
